<!-- inc:header -->
<div class="notice"><div class="p">
	<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td width="130px"><span class="lead">&nbsp;&raquo; <a href="{:site_url('payment')}">付款方式</a> &nbsp;&raquo; 字段属性</span></td>
		<td align="right"><a href="{:site_url('payment,fields_set')}id={:$id}" class="button">添加属性</a></td>
	</tr>
	</table>
</div></div>

<div class="main">
<table width="100%" style="layout:fixed;" cellpadding="0" cellspacing="0">
<tr>
	<td class="t_sub" width="50px">ID</td>
	<td class="t_sub" width="130px">标识</td>
	<td class="t_sub">名称</td>
	<td class="t_sub">值</td>
	<td class="t_sub" width="45px">操作</td>
</tr>
<!-- $rslist AS $key=>$value -->
<tr class="tr_out" onMouseOver="over_tr(this)" onMouseOut="out_tr(this)">
	<td align='center' class="tc_left">{:$value[id]}</td>
	<td align="center" class="tc_right">{:$value[code]}</td>
	<td class="tc_right">&nbsp;{:$value[title]}</td>
	<td class="tc_right">&nbsp;{:$value[val]}</td>
	<td align="center" class="tc_right">
		<a href="{:site_url('payment,fields_set')}id={:$id}&tid={:$value[id]}" class="btn edit" title="编辑"></a>
		<a href="javascript:to_fdel({:$value['id']});void(0);" class="btn del" title="删除"></a>
	</td>
</tr>
<!-- end -->
</table>
</div>
<!-- inc:footer -->