<!-- inc:header -->
<script type="text/javascript">
function to_set()
{
	id = join_checkbox();
	if(!id)
	{
		alert("您没有选择任何分类！");
		return false;
	}
	parent.getid("highlight_id").value = id;
	show_highlight("cate",id);
	parent.Layer.over();
}
function show_highlight(h_type,h_id)
{
	var url = base_file + "?" + base_ctrl + "=menu&"+base_func+"=highlight&htype="+encode_utf8(h_type)+"&hid="+encode_utf8(h_id);
	get_ajax(url,parent.js_show_highlight);
}
</script>
<div class="notice"><div class="p">
	<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td><span class="lead">&nbsp;&raquo; 请选择要高亮的分类，有相关子分类时，请同时选择！</span></td>
	</tr>
	</table>
</div></div>

<div class="main">
<table width="100%" style="layout:fixed;" cellpadding="0" cellspacing="0">
<tr>
	<td class="t_sub" width="40px">&nbsp;</td>
	<td class="t_sub" width="50px">ID</td>
	<td class="t_sub" width="35px">状态</td>
	<td class="t_sub" width="120px">模块</td>
	<td class="t_sub">名称</td>
	<td class="t_sub" width="35px">排序</td>
</tr>
<!-- $catelist AS $key=>$value -->
<tr class="tr_out" onMouseOver="over_tr(this)" onMouseOut="out_tr(this)">
	<td align='center' class="tc_left"><input type="checkbox" value="{:$value[id]}"{if(in_array($value[id],$idlist))} checked{end} /></td>
	<td align='center' class="tc_right">{:$value[id]}</td>
	<td align="center" class="tc_right"><a class="status{:intval($value['status'])}"></a></td>
	<td align="center" class="tc_right">{:$value[title] ? $value[title] : '-'}</td>
	<td align='left' class="tc_right" style="{:$value[style]};padding:2px 0;">&nbsp;{:$value[space]}{:$value[cate_name]}</td>
	<td align="center" class="tc_right">{:$value[taxis] ? $value[taxis] : '-'}</td>
</tr>
<!-- end -->
</table>
</div>
<table>
<tr>
	<td>&nbsp;</td>
	<td><input type="button" value="提交" onclick="to_set();" class="btn2" /></td>
</tr>
</table>
<!-- inc:footer_open -->