<!-- inc:header -->
<div class="notice"><div class="p">
	<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td><span class="lead">&nbsp;&raquo; 快捷键管理（建议每个语言包不超过10个快捷键）</span></td>
		<td align="right"><a href="{:site_url('hotlink,set')}" class="button">添加快捷键</a></td>
	</tr>
	</table>
</div></div>

<div class="main">
<table width="100%" style="layout:fixed;" cellpadding="0" cellspacing="0">
<tr>
	<td class="t_sub" width="50px">ID</td>
	<td class="t_sub" width="35px">状态</td>
	<td class="t_sub">名称</td>
	<td class="t_sub" width="60px">排序</td>
	<td class="t_sub" width="45px">操作</td>
</tr>
<!-- $rslist AS $key=>$value -->
<tr class="tr_out" onMouseOver="over_tr(this)" onMouseOut="out_tr(this)">
	<td align="center" class="tc_left">{:$value[id]}</td>
	<td align="center" class="tc_right"><a class="status{:intval($value['status'])}"></a></td>
	<td class="tc_right">&nbsp;{:$value[title]}</td>
	<td class="tc_right" align="center">{:$value[taxis]}</td>
	<td class="tc_right">
		<a href="{:site_url('hotlink,set')}id={:$value[id]}" class="btn edit" title="编辑"></a>
		<a href="javascript:to_delete('{:$value['id']}');void(0);" class="btn del" title="删除"></a>
	</td>
</tr>
<!-- end -->
</table>
</div>
<script type="text/javascript">
var gd_url = base_file + "?"+base_ctrl+"=hotlink&"+base_func+"=";
function to_delete(id)
{
	if(!id)
	{
		alert("操作非法，没有指定ID");
		return false;
	}
	var qc = confirm("确定要删除当前快捷键吗？\n\n请慎用，删除后是不能恢复的");
	if(qc == "0")
	{
		return false;
	}
	var url = gd_url + "del&id="+id;
	var msg = get_ajax(url);
	if(msg == "ok")
	{
		direct(window.location.href);
		return true;
	}
	else
	{
		if(!msg) msg = "error: 删除失败！";
		alert(msg);
		return false;
	}
}
</script>
<!-- inc:footer -->