<!-- inc:header -->
<div class="notice"><div class="p">
	<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td><span class="lead">&nbsp;&raquo; <a href="{:site_url('tpl')}">风格管理</a> &raquo; 添加/编辑信息</span></td>
	</tr>
	</table>
</div></div>

<form method="post" action="{:site_url('tpl,setok')}id={:$id}" onsubmit="return to_submit();">

<div class="table">
	<div class="left"><span class="red">*</span> 风格名称：</div>
	<input type="text" name="title" id="title" class="long_input" value="{:$rs[title]}">
</div>

<!-- if($rs[ifsystem]) -->
<input type="hidden" name="folder" id="folder" value="{:$rs[folder]}" />
<div class="table">
	<div class="left"><span class="red">*</span> 模板目录：</div>
	<input type="text" value="{:$rs[folder]}" disabled="disabled">
	<span class="clue_on"> 核心模板目录不允许修改</span>
</div>
<!-- else -->
<div class="table">
	<div class="left"><span class="red">*</span> 模板目录：</div>
	<input type="text" name="folder" id="folder" value="{:$rs[folder]}">
	<span class="clue_on"> 目录必须存在，不然前台无法识别，禁用 default 和 admin （这两个是系统目录）</span>
</div>
<!-- end -->

<div class="table">
	<div class="left">&nbsp;</div>
	<span class="clue_on">建议目录名使用以下规则：语言ID+下划线+风格英文名称，例如：zh_default，当前语言ID为<span class="red">{:$_SESSION[sys_lang_id]}</span></span>
</div>

<!-- if($rs[ifsystem]) -->
<input type="hidden" name="autoimg" value="0" />
<div class="table">
	<div class="left">解析图片路径：</div>
	<input type="radio" name="autoimg2" value="1" disabled="disabled" /> 允许
	&nbsp;
	<input type="radio" name="autoimg2" value="0" disabled="disabled" checked /> 禁止
	&nbsp;  
</div>
<!-- else -->
<div class="table">
	<div class="left">解析图片路径：</div>
	<input type="radio" name="autoimg" value="1"{if($rs[autoimg])} checked{end} /> 允许
	&nbsp;
	<input type="radio" name="autoimg" value="0"{if(!$rs[autoimg])} checked{end} /> 禁止
	&nbsp; 
</div>
<!-- end -->

<!-- if($rs[ifsystem]) -->
<input type="hidden" name="ext" id="ext" value="html" class="short_input">
<div class="table">
	<div class="left">模板后缀：</div>
	<input type="text" value="html" class="short_input" disabled="disabled" />
	<span class="clue_on"> 系统模板不允许修改后缀</span>
</div>
<!-- else -->
<div class="table">
	<div class="left">模板后缀：</div>
	<input type="text" name="ext" id="ext" value="{:$rs[ext] ? $rs[ext] : 'html'}" class="short_input">
	<span class="clue_on"> 建议您使用html</span>
</div>
<!-- end -->

<div class="table">
	<div class="left">排序：</div>
	<input type="text" name="taxis" id="taxis" value="{:$rs[taxis] ? $rs[taxis] : '255'}" class="short_input">
	<span class="clue_on"> 范围0-255，值越小越往前靠</span>
</div>


<div class="table">
	<div class="left">&nbsp;</div>
	<input type="submit" class="btn3" id="_phpok_submit" name="article_submit" value=" 提交 ">
</div>

</form>

<script type="text/javascript">
function to_submit()
{
	var title = getid("title").value;
	if(!title)
	{
		alert("名称不允许为空");
		getid("title").focus();
		return false;
	}
	var folder = getid("folder").value;
	if(!folder)
	{
		alert("文件夹名称不允许为空");
		getid("folder").focus();
		return false;
	}
	getid("_phpok_submit").disabled = true;
}
</script>
<!-- inc:footer -->