<!-- inc:header -->
<div class="table"><div class="left">会员名：</div>{:$rs[name]} <!-- if(!$value[status]) --><span class="red">未审核</span><!-- end --></div>
<div class="table"><div class="left">邮箱：</div>{:$rs[email]}</div>
<div class="table"><div class="left">注册时间：</div>{:date('Y-m-d H:i',$rs[regdate])}</div>
<!-- if($rs[picture]) --><div class="table"><div class="left">照片：</div><img src="{:$rs[picture]}" width="80px" height="80px" /></div><!-- end -->

<!-- $extlist AS $key=>$value --><div class="table"><div class="left">{:$value[title]}：</div>{:$value[val]}</div><!-- end -->

<!-- inc:footer_open -->