<style type="text/css">
.listpic{margin:0;padding:0}
.listpic li{float:left;width:19%;border:1px solid #0C5870;margin:5px 0 0 6px;list-style:none;}
.listpic .l{height:20px;overflow:hidden;}
.listpic .img{margin:3px 0;text-align:center;height:150px;overflow:hidden;}
</style>
<div class="main" style="border:0;">
<ul class="listpic">
	<!-- $rslist AS $key=>$value -->
	<li id="list_{:$m_rs[id]}_{:$value[id]}" title="{:$value[title]}"><div onMouseOver="this.style.backgroundColor='#52EBC9'" onMouseOut="this.style.backgroundColor=''" style="padding:5px;cursor:default;">
		<div class="img"><img src="{:$value[thumb] ? $value[thumb] : 'images/nopic.gif'}" border="0" onclick="phpjs_preview('{:$value[thumb_id]}')" class="hander" /></div>
		<!-- if($ifcate) -->
		<div><b>分类：</b>{:$value[cate_name] ? $value[cate_name] : '<span class="darkblue">未设置</span>'}</div>
		<!-- end -->
		<div class="l"><b>主题：</b><span style="{:$value[style]}">{:sys_cutstring($value[title],12,'…')}</span><!-- if($value[istop]) --> <span class="red">[顶]</span><!-- end --><!-- if($value[isvouch]) --> <span class="darkblue">[荐]</span><!-- end --><!-- if($value[isbest]) --> <span class="darkred">[热销]</span><!-- end --> <!-- if($value[identifier]) --><span class="clue_on">【{:$value[identifier]}】</span><!-- end --></div>
		<!-- if($m_rs[if_biz] && $value[price]) -->
		<div><b>售价：</b>{:sys_format_price($value[price],$value[price_currency])}</div>
		<!-- end -->
		<div><b>时间：</b>{:date('Y-m-d H:i',$value[post_date])}</div>
		<!-- $mlist AS $k=>$v -->
		<div class="l"><b>{:$v}：</b>{:$value[$k]}</div>
		<!-- end -->
		<div>
			<table>
			<tr>
				<td><input type="checkbox" value="{:$value[id]}" /></td>
				<td><input type="text" class="center" style="width:40px;" id="taxis_{:$value[id]}" value="{:$value[taxis]}" alt="排序" /></td>
				<td><div id="status_{:$value['id']}"><a href="javascript:status({:$value[id]},{:intval($value['status'])});void(0);" class="status{:intval($value['status'])}"></a></div></td>
				<!-- if($m_rs[if_reply]) --><td><a href="{:site_url('reply')}tid={:$value[id]}" class="btn reply" title="留言"></a></td><!-- end -->
				<td><a href="{:site_url('list,set')}id={:$value[id]}" class="btn edit" title="编辑"></a></td>
				<td><a href="javascript:del({:$value['id']});void(0);" class="btn del" title="删除"></a></td>
			</tr>
			</table>
		</div>
	</div></li>
	<script type="text/javascript">
	var right_menu = [[
		{
			text:"设为快捷键",
			func:function(){
				parent.$.phpok.shortcut_ajax($.str.encode('{:$value[title]}'),$.str.encode("{admin}?{c}=list&{f}=set&id={:$value[id]}"));
			}
		},{
			text:"编辑(E)",
			func:function(){
				direct("{:site_url('list,set')}id={:$value[id]}");
			}
		},{
			text:"删除(D)",
			func:function(){
				del("{:$value['id']}");
			}
		}
	]];
	$("#list_{:$m_rs[id]}_{:$value[id]}").smartMenu(right_menu, {name: "list_{:$m_rs[id]}_{:$value[id]}"});
	right_menu = null;
	</script>


	<!-- end -->
</ul>
<div class="clear"></div>
</div>